<h1>Ajouter du contenu</h1>

<%= simple_form_for [@concert, @content] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image, as: :file %>
  <%= f.submit "Ajouter" %>
<% end %>
