<div class="container">
  <%= link_to concerts_path, class: "back-button" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="mt-5 pt-4">
    <h1 style="color: white">Ajouter du contenu</h1>
      <%= simple_form_for [@concert, @content] do |f| %>
      <%= f.input :title, label: "Titre" %>
      <%= f.input :description, label: "Mots-clés" %>
      <%= f.input :image, as: :file, label: "Image de l'événement" %>
      <%= f.input :video, as: :file, label: "Vidéo de l'événement" %>
      <%= f.submit "Ajouter", class: "form_btn" %>
    <% end %>
  </div>
</div>
