<div class="container-fluid p-0 d-flex flex-column justify-content-between vh-100">
  <h1 class="text-center my-3"><%= @content.title %></h1>
  <p class="text-center"><%= @content.description %></p>


  <div class="image-container position-relative">
    <% if @content.image.attached? %>
      <%= cl_image_tag @content.image.key, class: "content-image" %>
    <% else %>
      <p class="text-center">Aucune image disponible.</p>
    <% end %>


    <div class="overlay-buttons" data-controller="vote">
      <button data-action="click->vote#upvote" class="btn btn-lg">
        <i class="fa-solid fa-thumbs-up" style= "color: #9bea99"></i> <span data-vote-target="upvoteCount">0</span>
      </button>

      <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#commentModal">
        <i class="fa-solid fa-comment"></i>
      </button>

      <button data-action="click->vote#downvote" class="btn btn-lg">
        <i class="fa-solid fa-thumbs-down" style= "color: #f57f7f"></i> <span data-vote-target="downvoteCount">0</span>
      </button>
    </div>
  </div>


  <%= link_to "Retour", concert_path(@concert), class: "btn btn-secondary mt-3 d-block mx-auto" %>


  <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentModalLabel">Ajouter un commentaire</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: [@concert, @content], url: concert_content_comments_path(@concert, @content), local: true) do |form| %>
            <div class="mb-3">
              <%= form.text_area :comment, class: "form-control", placeholder: "Écrivez votre commentaire..." %>
            </div>
            <%= form.submit "Envoyer", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
