<div class="login-container">
  <main>
    <h1>INSCRIPTION</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username, "Nom d'utilisateur" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, autocomplete: "email", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.label :password, "Mot de passe" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmer le mot de passe" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
      </div>

      <div class="field">
        <%= f.label :avatar, "Télécharger un avatar" %>
        <%= f.file_field :avatar, class: "input-field" %>
      </div>

      <div class="actions">
        <%= f.submit "S'inscrire", class: "btn" %>
      </div>
    <% end %>

    <div class="links">
      <%= link_to "Se connecter", new_user_session_path, class: "link" %>
    </div>
  </main>
</div>

<%#
<div class="field">
<p>Ou choisissez un avatar :</p>
<div class="avatar-options">
<% preset_avatars = ["avatar1.JPG", "avatar2.JPG", "avatar3.JPG", "avatar4.JPG", "avatar5.JPG"] %>
<%# <% preset_avatars.each do |avatar| %>
<%# <label class="avatar-label">
<%= f.radio_button :avatar, avatar, class: "avatar-radio" %>
<%# <img src="<%= asset_path("avatars/#{avatar}") %><%# " alt="Avatar prédéfini" class="avatar"> %>
<%# </label>
<% end %>
<%# </div>
</div> %>
