<% @my_concerts.each do |concert| %>
  <tr style="text-align: center;">
    <td><%= concert.title %></td>
    <td><%= concert.date.strftime("%d/%m/%Y") %></td>
    <td><%= concert.description %></td>
    <td><%= link_to " âœï¸ ", edit_concert_path(concert) %></td>
    <td><%= link_to " ðŸ—‘ï¸ ", concert_path(concert), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ?" } %></td>
  </tr>
<% end %>
