<%= link_to concerts_path, class: "back-button" do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="dashboard pt-5 mt-4">
  <div class="user-profile">
    <div class="user-info">
      <h2 class="user-name"><%= current_user.username || "Utilisateur" %></h2>
      <div class="user-stats">
        <span class="stat"><%= current_user.attended_concerts.count %> Participation </span>
        <span class="stat"><%= @my_concerts.count %> Concerts</span>
        <span class="stat"><%= @my_contents.count %> Contenus</span>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="section">
      <h2 class="section-title">Mes Concerts Participés</h2>
      <div class="grid">
        <% current_user.attended_concerts.each do |concert| %>
          <div class="card">
            <%= link_to concert_path(concert), class: "card-link" do %>
              <%= cl_image_tag concert.image.key, class: "card-image", width: 300, height: 225, crop: :fill %>
              <div class="card-info">
                <div class="card-title"><%= concert.title %></div>
                <div class="card-date"><%= concert.date.strftime("%d/%m/%Y") %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="section">
    <h2 class="section-title">Concerts</h2>
    <div class="grid">
      <% @my_concerts.each do |concert| %>
        <div class="card">
          <%= link_to concert_path(concert), class: "card-link" do %>
            <%= cl_image_tag concert.image.key, class: "card-image", width: 300, height: 225, crop: :fill %>
            <div class="card-info">
              <div class="card-title"><%= concert.title %></div>
              <div class="card-date"><%= concert.date.strftime("%d/%m/%Y") %></div>
            </div>
            <div class="card-actions">
              <%= link_to "✏️", edit_concert_path(concert) %>
              <%= link_to "🗑️", concert_path(concert), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ?" } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Mes Contenus</h2>
    <div class="grid">
      <% @my_contents.each do |content| %>
        <div class="card">
          <%= link_to concert_content_path(content.concert, content), class: "card-link" do %>
            <% if content.image.attached? %>
              <%= cl_image_tag content.image.key, class: "card-image", width: 300, height: 225, crop: :fill %>
            <% elsif content.video.attached? %>
              <%= cl_video_tag content.video.key, class: "card-image", width: 300, height: 225, crop: :fill %>
            <% else %>
              <%= image_tag "Beyoncé.jpg", class: "card-image", width: 300, height: 225, alt: "Image par défaut pour le contenu" %>
            <% end %>
            <div class="card-info">
              <div class="card-title"><%= content.title %></div>
              <div class="card-description"><%= content.description %></div>
            </div>
            <div class="card-actions">
              <%= link_to "✏️", edit_concert_content_path(content.concert, content) %>
              <%= link_to "🗑️", concert_content_path(content.concert, content), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ?" } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
