<%= link_to concerts_path, class: "back-button" do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<div class="dashboard pt-5 mt-4">

  <!-- Section pour les concerts auxquels l'utilisateur a participé -->
  <% if user_signed_in? %>
    <div class="section">
      <h2 class="section-title">Mes Concerts Participés</h2>
      <div class="grid">
        <% current_user.attended_concerts.each do |concert| %>
          <div class="card">
            <%= cl_image_tag concert.image.key, class: "card-image", width: 300, height: 225, crop: :fill %>
            <div class="card-info">
              <div class="card-title"><%= concert.title %></div>
              <div class="card-date"><%= concert.date.strftime("%d/%m/%Y") %></div>
            </div>
            <div class="card-actions">
              <%= link_to "Voir", concert_path(concert) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="section">
    <h2 class="section-title">Concerts</h2>
    <div class="grid">
      <% @my_concerts.each do |concert| %>
        <div class="card">
          <%= cl_image_tag concert.image.key, class: "card-image", width: 300, height: 225, crop: :fill %>
          <div class="card-info">
            <div class="card-title"><%= concert.title %></div>
            <div class="card-date"><%= concert.date.strftime("%d/%m/%Y") %></div>
          </div>
          <div class="card-actions">
            <%= link_to "✏️", edit_concert_path(concert) %>
            <%= link_to "🗑️", concert_path(concert), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Mes Contenus</h2>
    <div class="grid">
      <% @my_contents.each do |content| %>
        <div class="card">
          <%= cl_image_tag content.image.key, class: "card-image", width: 300, height: 225, crop: :fill %>
          <div class="card-info">
            <div class="card-title"><%= content.title %></div>
            <div class="card-description"><%= content.description %></div>
          </div>
          <div class="card-actions">
            <%= link_to "✏️", edit_concert_content_path(content.concert, content) %>
            <%= link_to "🗑️", concert_content_path(content.concert, content), data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer ?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
