<div class="landing-container">
  <header>
    <div class="logo">LOGO</div>
  </header>
  <main>
    <div class="illustration">
      <%= image_tag "landingpage.png", alt: "Landing Illustration", class: "illustration-img" %>
    </div>
    <h1>TROUVE LES ÉVÉNEMENTS RIEN QUE POUR TOI !</h1>
    <% if user_signed_in? %>
      <%= link_to "Voir les concerts", concerts_path, class: "btn" %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "link" %>
    <% else %>
      <%= link_to "CONNEXION/INSCRIPTION", auth_path, class: "btn" %>
    <% end %>
    <%= link_to "Parcourir", concerts_path, class: "link" %>
  </main>
</div>
