<video class="video-background" autoplay muted loop>
  <source src="<%= asset_path('back.mp4') %>" type="video/mp4">
  Votre navigateur ne supporte pas la vidéo.
</video>

<div class="landing-container">
  <main>
    <div class="illustration">
      <%= image_tag "zz.png", alt: "Landing Illustration", class: "illustration-img" %>
    </div>
    <% if user_signed_in? %>
      <%= link_to "Voir les concerts", concerts_path, class: "btn" %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "CONNEXION/INSCRIPTION", auth_path, class: "btn" %>
      <%= link_to "Parcourir", concerts_path, class: "link" %>
    <% end %>
  </main>
</div>
