<h1>Concert</h1>
<div class="container">
  <% @concerts.each do |concert| %>
    <div>
      <%= concert.title %>
      <%= concert.description %>
      <%= concert.date %>
      <%= concert.localisation %>
      <%= concert.public %>
      <%= concert.venue %>
      <%= link_to concert_path(concert) do  %>
        <% if concert.image.attached? %>
          <%= cl_image_tag concert.image.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <%= image_tag "Beyoncé.jpg", width: 400, height: 300 %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to "Créer un concert", new_concert_path %>
