<div class="page-container">
  <div class="concert-hero">
    <%= link_to concerts_path, class: "back-button" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

    <div class="concert-image">
      <%= cl_image_tag @concert.image.key %>
    </div>

    <div class="concert-info">
      <div class="concert-info-content">
        <div class="concert-details">
          <p class="concert-date">
            <%= @concert.date.strftime("%d/%m/%Y") %>

            <% if user_signed_in? %>
              <% if current_user.attended_concerts.include?(@concert) %>
                <%= link_to "Je n'y suis pas allé 🙁", concert_participation_path(@concert),
                            data: { turbo_method: :delete }, class: "participate-button btn-unparticipate" %>
              <% else %>
                <%= link_to "J'y suis allé 🙂", concert_participations_path(@concert),
                            data: { turbo_method: :post }, class: "participate-button btn-participate" %>
              <% end %>
            <% end %>
          </p>
          <h1 class="concert-title artist"><%= @concert.title %></h1>
          <p class="concert-location"><%= @concert.venue %>, <%= @concert.localisation %></p>
        </div>

        <div class="concert-stats">
          <p class="content-count"><%= @concert.contents.count %> Photos & Vidéos</p>
        </div>
      </div>
    </div>
  </div>

  <div class="concert-contents-section">
    <div class="content-column-left">
      <% @contents.each_with_index do |content, index| %>
        <div class="media-item">
          <% if index.even? %>
            <% if content.image.attached? %>
              <%= link_to concert_content_path(@concert, content) do %>
                <%= cl_image_tag content.image.key, class: "small-media" %>
              <% end %>
            <% elsif content.video.attached? %>
              <%= link_to concert_content_path(@concert, content) do %>
                <div class="video-wrapper">
                  <video autoplay loop muted class="small-media">
                    <source src="<%= cl_video_path(content.video.key) %>" type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                  </video>
                  <!-- Suppression de l'icône de lecture -->
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="content-column-right">
      <% @contents.each_with_index do |content, index| %>
        <div class="media-item">
          <% if index.odd? %>
            <% if content.image.attached? %>
              <%= link_to concert_content_path(@concert, content) do %>
                <%= cl_image_tag content.image.key, class: "small-media" %>
              <% end %>
            <% elsif content.video.attached? %>
              <%= link_to concert_content_path(@concert, content) do %>
                <div class="video-wrapper">
                  <video autoplay loop muted class="small-media">
                    <source src="<%= cl_video_path(content.video.key) %>" type="video/mp4">
                    Votre navigateur ne supporte pas la lecture de vidéos.
                  </video>
                  <!-- Suppression de l'icône de lecture -->
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="add-content-button">
    <%= link_to new_concert_content_path(@concert), class: "add-button" do %>
      <i class="fa-solid fa-image"></i>
    <% end %>
  </div>
</div>
