<div class="page-container">
  <div class="concert-hero">
    <%= link_to concerts_path, class: "back-button" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

    <div class="concert-image">
      <%= cl_image_tag @concert.image.key %>
    </div>

    <div class="concert-info">
      <div class="concert-info-content">
        <div class="concert-details">
          <p class="concert-date"><%= @concert.date.strftime("%d/%m/%Y") %></p>
          <h1 class="concert-title"><%= @concert.title %></h1>
          <p class="concert-location"><%= @concert.venue %>, <%= @concert.localisation %></p>
        </div>

        <div class="concert-stats">
          <p class="content-count"><%= @concert.contents.count %> Photos & Videos</p>
        </div>
      </div>
    </div>
  </div>


  <div class="concert-contents-section">
    <div class="content-column-left">
      <% @contents.each_with_index do |content, index| %>
        <% if content.image.attached? && index.even? %>
          <%= link_to concert_content_path(@concert, content) do %>
            <%= cl_image_tag content.image.key %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="content-column-right">
      <% @contents.each_with_index do |content, index| %>
        <% if content.image.attached? && index.odd? %>
          <%= link_to concert_content_path(@concert, content) do %>
            <%= cl_image_tag content.image.key %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% @concert.contents.each do |content| %>
    <div class="media-item">
      <% if content.video.attached? %>
        <%= cl_video_tag(content.video.key, width: 300, height: 200, controls: true, class: "media-video", fallback_content: "Votre navigateur ne supporte pas la lecture de vidéos.") %>
      <% else %>
        <%= video_tag "Beyoncé.jpg", class: "card-image", width: 300, height: 225, alt: "Image par défaut pour le contenu" %>
      <% end %>
    </div>
  <% end %>

  <div class="add-content-button">
    <%= link_to new_concert_content_path(@concert), class: "add-button" do %>
      <i class="fa-solid fa-image"></i>
    <% end %>
  </div>
</div>
