<h1><%= @concert.title %></h1>

<p><%= @concert.description %></p>
<p><%= @concert.genre %></p>
<p><%= @concert.date %></p>
<p><%= @concert.localisation %></p>
<p><%= @concert.public %></p>
<p><%= @concert.venue %></p>

<%= cl_image_tag @concert.image.key, width: 400, height: 300, crop: :fill %>


<% @contents.each do |content| %>
  <% if content.image.attached? %>
      <%= cl_image_tag content.image.key, width: 400, height: 300, crop: :fill %>
    <% else %>
  <% end %>
<% end %>

<%= link_to "Retour à la liste", concerts_path %>

<%= link_to "Supprimer ce concert", concert_path(@concert), data: { turbo_method: :delete, turbo_confirm: "Voulez vous supprimer ?" }  %>

<%= link_to "Ajouter un contenu", new_concert_content_path(@concert) %>
